/* ------------------------
    General
------------------------*/
@font-face {
  font-family: DinNextRegular;
  src: url(../fonts/DinNextRegular.ttf);
}

body {
  font-family: DinNextRegular;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 1.5;
  color: #5c5c5c;
  direction: rtl;
}
.header-2 {
  padding: 80px 0 !important;
}
.owl-carousel {
  direction: ltr;
}
/* ------------------------
    Typography
------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: capitalize;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
h1 {
  font-size: 60px;
  font-style: normal;
  line-height: 70px;
  font-weight: 500;
  text-transform: capitalize;
  color: #111121;
}
h2 {
  font-size: 40px;
  font-style: normal;
  line-height: 46px;
  font-weight: 500;
  color: #111121;
  text-transform: capitalize;
  margin-bottom: 10px;
  position: relative;
}
h3 {
  font-size: 30px;
  font-style: normal;
  line-height: 36px;
  font-weight: 500;
}
h4 {
  font-size: 24px;
  font-style: normal;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 30px;
  color: #111121;
}
h5 {
  font-size: 20px;
  font-style: normal;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 26px;
  color: #111121;
}
h6 {
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  margin-bottom: 10px;
  color: #111121;
}
ul {
  margin: 0px;
  padding: 0px;
}
u {
  text-decoration-style: wavy;
}
.height-362 {
  height: 362px;
}
.footer-list ul li::before {
  content: url(../images/pattern/arrow.png);
  padding-left: 8px;
}
.media-icon li::before {
  content: url(../images/pattern/arrow.png);
  padding-left: 8px;
}
.padding__bottom {
  padding-bottom: 25px;
}

/* ------------------------
    Helper class
------------------------*/
p {
  line-height: 1.7;
}
.lead {
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  padding-top: 20px;
  color: gray;
}
.o-hidden {
  overflow: hidden;
}
.img-center {
  display: inline-block !important;
  max-width: 100%;
}
.pos-r {
  position: relative;
}
.z-index-0 {
  z-index: 0;
  position: relative;
}
.z-index-1 {
  z-index: 1;
  position: relative;
}
h1 span {
  color: #ff7810;
}
section {
  padding: 50px 0;
}
.section-title {
  margin-bottom: 50px;
}
.section-title p {
  font-size: 16px;
}
.align-item-middle {
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}
.align-item-middle > div {
  width: 100%;
}

.font-w-3 {
  font-weight: 300;
}
.font-w-4 {
  font-weight: 400;
}
.font-w-5 {
  font-weight: 500;
}
.font-w-6 {
  font-weight: 600;
}
.font-w-7 {
  font-weight: 700;
}
.font-w-8 {
  font-weight: 800;
}
.font-w-9 {
  font-weight: 900;
}

.line-h-2 {
  line-height: 1.6;
}
.line-h-3 {
  line-height: 1.7;
}
.line-h-4 {
  line-height: 1.8;
}
.line-h-5 {
  line-height: 1.9;
}

/* .letter-space-1{letter-spacing: 5px;}
.letter-space-2{letter-spacing: 10px;}
.letter-space-3{letter-spacing: 15px;} */
.red {
  color: #f76d59;
}
.blue {
  color: #0a5de2;
}
.bg-red {
  background: #f76d59;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  font-size: 15px;
}
.bg-blue {
  background: #0a5de2;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
}
.bg-blue:hover {
  background: #f76d59;
}
.bg-blue:hover i {
  color: #fff;
}
.Stores-buttons {
  margin-right: 40px;
  margin-bottom: 15px;
}
.Float__left {
  float: left;
}
.Fl_image {
  float: right;
  margin: 10px;
}
.btn-project {
  background-color: #1f59cc;
  color: #fff;
  border-radius: 25px;
  width: 150px;
  padding: 10px;
}
/* ------------------------
    Text color
------------------------*/
.text-theme {
  color: #ff7810;
}
.text-black {
  color: #111121 !important;
}
.text-grey {
  color: #999999;
}
.text-rgba {
  color: rgba(255, 255, 255, 0.8);
}
.mb-10 {
  margin-bottom: 10px;
}
.Pt-md-190 {
  padding-top: 190px;
}
.Height_section {
  background-size: cover;
}
/* ------------------------
    Background color
------------------------*/
.white-bg {
  background-color: #ffffff !important;
}
.dark-bg {
  background-color: #141414;
}
.grey-bg {
  background-color: #fbf9f8;
}
.theme-bg {
  background-color: #ff7810;
}
.transparent-bg {
  background-color: inherit !important;
}

/* ------------------------
    Border Radius
------------------------*/
.radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.radius-0 {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.radius-1 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.radius-2 {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.radius-3 {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.radius-4 {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* ------------------------
    Banner
------------------------*/
.fullscreen-banner {
  position: relative;
}
[data-bg-img] {
  background-repeat: no-repeat;
}
.align-center {
  position: absolute;
  top: 35%;
  width: 100%;
  z-index: 9;
}
.khatab_underline {
  color: #1f59cc;
}
.khatab_underline::before {
  content: url(../images/pattern/underline.png);
  top: 70%;
  position: absolute;
  right: 9%;
}
.align-end {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 9;
}
.bnr-img2 {
  position: absolute;
  top: 50%;
  left: 0;
}
.banner-2 .mouse-parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.fullscreen-banner .owl-carousel,
.fullscreen-banner .owl-stage-outer,
.fullscreen-banner .owl-stage,
.fullscreen-banner .owl-item {
  height: 100%;
}
.hero-bg {
  left: -50%;
  position: absolute;
  top: -45%;
}
.banner-4 .mouse-parallax {
  z-index: 9;
}

/* -------------------------------
   Background Position & Size
-------------------------------*/
.bg-cover {
  background-size: cover;
}
.bg-contain {
  background-size: contain;
}
.bg-pos-l {
  background-position: left;
}
.bg-pos-r {
  background-position: right;
}
.bg-pos-rt {
  background-position: right top;
}
.bg-pos-lt {
  background-position: left top;
}
.bg-pos-rb {
  background-position: right bottom;
}
.bg-pos-lb {
  background-position: left bottom;
}

/* ------------------------
    Countdown
------------------------*/
.countdown {
  margin: 50px 0;
  display: table;
  width: 100%;
}
.countdown > li {
  padding: 0 30px;
  font-weight: 700;
  text-align: center;
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
  list-style-type: none;
  display: table-cell;
  width: auto;
}
.countdown > li:last-child {
  border-right: none;
}
.countdown > li span {
  font-size: 70px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 20px;
  display: inline-block;
}
.countdown > li p {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 0;
  color: #ff7810;
}
.dark-bg .countdown > li {
  border-color: rgba(255, 255, 255, 0.2);
}
.coming-soon .subscribe-form {
  margin: 0 auto;
}

/* ------------------------
    Terms and Conditions
------------------------*/
.terms-and-conditions p {
  margin-bottom: 25px;
}
.terms-and-conditions ul.list {
  margin-bottom: 20px;
  display: block;
}
.terms-and-conditions ul.list li i {
  padding-right: 12px;
  font-size: 15px;
}

/* ------------------------
    Privacy Policy
------------------------*/
.privacy-policy p {
  margin-bottom: 25px;
}
.privacy-policy ul.list {
  margin-bottom: 20px;
  display: block;
}
.privacy-policy ul.list li i {
  padding-right: 12px;
  font-size: 15px;
}

/* ------------------------
    Cases
------------------------*/
.cases-item {
  overflow: hidden;
  position: relative;
  text-align: center;
}
.cases-item .cases-description {
  background: #ffffff;
  padding: 20px;
}
.cases-item .cases-description h5 {
  margin: 0 0 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.cases-item img {
  width: 100%;
}
.cases-item span {
  font-weight: 500;
  display: block;
}
.owl-carousel .cases-item {
  margin: 30px 10px;
}
.btn-subscribe {
  border-radius: 25px;
  background: #ff5e4a;
  color: #fff;
  margin-top: 10px;
}

/* ------------------------
    How It Work
------------------------*/
.work-process-inner {
  position: relative;
}
.work-process-inner img{
  padding-bottom: 2em;
}
.step-num {
  background: rgb(255, 120, 16);
  background: linear-gradient(90deg, rgba(255, 120, 16, 1) 0%, rgba(255, 183, 47, 1) 50%);
  border: 5px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  height: 80px;
  line-height: 75px;
  position: absolute;
  right: -40px;
  top: -40px;
  width: 80px;
  text-align: center;
}
.work-process-inner .work-img {
  /* border: 2px dashed #e2dfdf; */
  border-radius: 10px;
  display: inline-block;
  width: 230px;
  height: 250px;
  line-height: 250px;
  position: relative;
}
.work-process.style-2 .work-process-inner {
  padding-left: 80px;
}
.work-process.style-2 .step-num {
  right: inherit;
  left: 0;
  top: 0;
  border: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
}

/* ------------------------
    Clients Logo
------------------------*/
.clients-logo {
  background: #fff;
  border: 1px solid #ebebeb;
  margin-right: -1px;
  margin-top: -1px;
  padding: 50px 10px;
  width: calc(100% / 4);
}
.pages_header{
  border-bottom:5px solid #7FBFFF;
}

/* ------------------------
    Single Page Sidebar
------------------------*/
.sidebar-links li a {
  color: #2c2c2c;
  border-bottom: 1px dashed #ddd;
  padding: 10px 0;
  display: block;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
}
.sidebar-links li.active a,
.sidebar-links li a:hover {
  color: #ff7810;
}
.sidebar-links li:first-child a {
  padding-top: 0;
}
.sidebar-links li:last-child a {
  padding-bottom: 0;
  border-bottom: none;
}

/* ------------------------
    Single Page Meta
------------------------*/
.portfolio-meta li {
  position: relative;
  padding-left: 50px;
}
.portfolio-meta li i {
  position: absolute;
  left: 0;
  top: 0;
  color: #ff7810;
  font-size: 30px;
}
.portfolio-meta li span {
  color: #111121;
  display: block;
  text-transform: uppercase;
  margin-bottom: 7px;
}

/* ------------------------
    Contact
------------------------*/
.contact-info li {
  padding-right: 50px;
  position: relative;
}
.contact-info li i {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 24px;
  font-size: 30px;
  color: #ff7810;
  text-align: center;
}
.contact-info li span {
  font-size: 16px;
  color: #111121;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;
}
.contact-info li p {
  margin-bottom: 0;
  line-height: 24px;
}
.contact-info li a {
  color: #111121;
}
.contact-info li a:hover {
  color: #ff7810;
}
.info-inner {
  background: #ffffff;
  padding: 50px 30px;
}
.info-inner ul li {
  padding-left: 0;
}
.Header-contact {
  position: absolute;
  left: 185px;
  top: 92px;
  width: 230px;
}
.Header-contact img {
  width: 150px;
}
.form-group {
  margin-bottom: 20px;
  position: relative;
}
label {
  font-size: 14px;
  color: #333;
}
.form-control {
  height: 50px;
  border-radius: 5px;
  font-size: 13px;
  color: #111121;
  background: #f3f1f1;
  border: 1px solid transparent;
}
.theme-bg .form-control .dark-bg .form-control {
  background: none;
  border: 5px solid rgba(255, 255, 255, 0.1);
}
.dark-bg .form-control,
.theme-bg .form-control {
  color: #ffffff;
}
.grey-bg .form-control {
  background: #ffffff;
}
textarea.form-control {
  height: 150px;
  border-radius: 5px;
}
.form-control:focus {
  box-shadow: none;
  background: none;
  border-color: #ff7810;
}
.theme-bg .form-control:focus {
  border-color: #ff7810;
}
select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 50px !important;
}
#map {
  width: 100%;
  height: 100%;
}
iframe {
  width: 100%;
  border: none;
  pointer-events: auto;
}
.iframe-h {
  height: 500px !important;
}
.iframe-h-2 {
  height: 600px !important;
}
.help-block.with-errors {
  position: absolute;
  color: red;
  right: 15px;
  font-size: 10px;
  line-height: 14px;
}

.form-control::-webkit-input-placeholder {
  color: #111121;
}
.form-control::-moz-placeholder {
  color: #111121;
}
.form-control:-ms-input-placeholder {
  color: #111121;
}
.form-control:-moz-placeholder {
  color: #111121;
}
.dark-bg .form-control::-webkit-input-placeholder,
.theme-bg .form-control::-webkit-input-placeholder {
  color: #ffffff;
}

.dark-bg .form-control::-moz-placeholder,
.theme-bg .form-control::-moz-placeholder {
  color: #ffffff;
}
.dark-bg .form-control:-ms-input-placeholder,
.theme-bg .form-control:-ms-input-placeholder {
  color: #ffffff;
}
.dark-bg .form-control:-moz-placeholder,
.theme-bg .form-control:-moz-placeholder {
  color: #ffffff;
}

.contact img {
  width: 99px;
  margin-bottom: 16px;

}
/* ------------------------
    Video
------------------------*/
.video-btn {
  position: relative;
  display: inline-block;
}
.video-btn .btn-play {
  font-size: 30px;
  background: #ff7810;
  color: #fff;
  line-height: 50px;
  width: 70px;
  height: 70px;
  border: 10px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  -webkit-transition-property: color, background, border-color;
  transition-property: color, background, border-color;
}
.video-btn-pos {
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto !important;
  z-index: 99;
}
.theme-bg .video-btn .btn-play,
.dark-bg .video-btn .btn-play {
  background: #ffffff;
  border-color: #ddd;
  color: #ff7810;
}
.html5-video {
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}
.html5-video video {
  width: 100%;
}
.play-btn span {
  position: relative;
  text-transform: uppercase;
  color: #111121;
  font-weight: 500;
  padding-right: 70px;
  margin-right: 20px;
}
.play-btn span:before {
  background: #ff7810;
  width: 50px;
  height: 2px;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
}

/* ------------------------
    Side Background
------------------------*/
.img-side img {
  max-width: 100%;
}
.img-side.img-right {
  right: 0;
}
.img-side.img-left {
  left: 0;
}
.img-side {
  padding: 0;
  position: absolute !important;
  top: 0px;
  height: 100%;
  overflow: hidden;
  z-index: 9;
}
.image-column {
  position: absolute;
  left: 0px;
  top: 50%;
}
.Padtop-1 {
  padding-top: 87px;
}
.Padtop-2 {
  padding-left: 93px;
}
.Padtop-3 {
  padding-left: 128px;
  padding-top: 0;
}
.Padtop-6 {
  padding-right: 96px;
}
/* ------------------------
    Error
------------------------*/
.error-page h1 {
  font-size: 300px;
  line-height: 300px;
  color: #111121;
  margin-bottom: 20px;
}

.bg-services {
  background-image: url(../images/pattern/services.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
}
/* ------------------------
    List Icon
------------------------*/
.list-icon img {
  width: 71px;
}

.list-icon .img_right_side {
  display: inline-block;
  padding-right: 15px;
}

.list-icon-2 li {
  padding-left: 20px;
  position: relative;
}
.list-icon-2 li:before {
  content: "";
  background: #ff7810;
  position: absolute;
  top: 8px;
  left: 0;
  width: 10px;
  height: 2px;
  border-radius: 4px;
}
.custom-li {
  display: inline-block;
}
.custom-li li {
  float: left;
  margin-bottom: 15px;
  width: calc(100% / 2);
}

/* ------------------------
    Bg Animated Image
------------------------*/
.pattern-3 {
  position: absolute;
  left: 50%;
  top: 60%;
}
.info-img:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 330px;
  width: 100%;
  content: "";
  background-image: url(../images/pattern/07.png);
  z-index: -1;
}

/* ------------------------
    Round Animated Image
------------------------*/
.round-animation {
  background-image: linear-gradient(120deg, #ff156a 0%, #631470 100%);
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 100%;
  height: 100%;
  animation: morph 10s linear infinite;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
}
.round-animation:before,
.round-animation:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  will-change: border-radius, transform, opacity;
  animation-delay: 200ms;
  background-image: linear-gradient(120deg, rgba(255, 183, 47, 0.55) 0%, rgba(255, 120, 16, 0.89) 100%);
}
.round-animation:before {
  animation: morph 3s linear infinite;
  opacity: 0.21;
  animation-duration: 1.5s;
}
.round-animation img {
  position: relative;
  z-index: 99;
}

.insideText {
  color: rgba(0, 0, 0, 0.05);
  font-size: 200px;
  font-weight: 900;
  left: 50%;
  line-height: 200px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  white-space: nowrap;
  width: 100%;
  z-index: 0;
}

.boxed-view {
  padding: 20px 50px 50px;
}

/* chat */
.popup-box {
  background-color: #ffffff;
  border: 1px solid #b0b0b0;
  bottom: 0;
  display: none;
  height: 415px;
  position: fixed;
  right: 25%;
  width: 300px;
  z-index: 111111;
}
.round.hollow {
  margin: 40px 0 0;
}
.fixed_chat a {
  color: #ffffff;
}
.fixed_chat {
  position: fixed;
  right: 25%;
  bottom: 0;
  z-index: 111;
  background: #3a59c7;
  padding: 10px;
  width: 229px;
  text-align: center;
}
.fixed-chat-image {
  position: fixed;
  right: 25%;
  bottom: 55px;
  z-index: 111;
  width: 113px;
}
.fixed-chat-image span{
  position: absolute;
    top: 10px;
    color: #fff;
    right: 5px;
}
.popup-box-on {
  display: block !important;
}
.popup-box .popup-head {
  background-color: #fff;
  clear: both;
  color: #7b7b7b;
  display: inline-table;
  font-size: 21px;
  padding: 7px 10px;
  width: 100%;
}
.bg_none i {
  border: 1px solid #ff6701;
  border-radius: 25px;
  color: #ff6701;
  font-size: 17px;
  height: 33px;
  line-height: 30px;
  width: 33px;
}
.bg_none:hover i {
  border: 1px solid #000;
  border-radius: 25px;
  color: #000;
  font-size: 17px;
  height: 33px;
  line-height: 30px;
  width: 33px;
}
.bg_none {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.popup-box .popup-head .popup-head-right {
  margin: 0px 7px 0;
}
.popup-head-left {
  float: right;
}
.popup-head-right {
  float: left;
}
.popup-head-left img {
  border: 1px solid #7b7b7b;
  border-radius: 50%;
  width: 44px;
}
.popup-messages-footer > textarea {
  border-bottom: 1px solid #b2b2b2 !important;
  height: 34px !important;
  margin: 7px;
  padding: 5px !important;
  border: medium none;
  width: 95% !important;
}
.popup-messages-footer {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.popup-messages-footer .btn-footer {
  overflow: hidden;
  padding: 2px 5px 10px 6px;
  width: 100%;
  text-align: left;
}
.simple_round {
  background: #d1d1d1 none repeat scroll 0 0;
  border-radius: 50%;
  color: #4b4b4b !important;
  height: 21px;
  padding: 0 0 0 1px;
  width: 21px;
}

.popup-box .popup-messages {
  /* background: #3f9684 none repeat scroll 0 0; */
  height: 275px;
  overflow: auto;
}
.direct-chat-messages {
  overflow: auto;
  padding: 10px;
  transform: translate(0px, 0px);
}
.popup-messages .chat-box-single-line {
  border-bottom: 1px solid #a4c6b5;
  height: 12px;
  margin: 7px 0 20px;
  position: relative;
  text-align: center;
}
.popup-messages abbr.timestamp {
  background: #3f9684 none repeat scroll 0 0;
  color: #fff;
  padding: 0 11px;
}

.popup-head-right .btn-group {
  display: inline-flex;
  margin: 0 8px 0 0;
  vertical-align: top !important;
}
.chat-header-button {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #636364;
  border-radius: 50%;
  font-size: 14px;
  height: 30px;
  width: 30px;
  color: #636364;
}
.popup-head-right .btn-group .dropdown-menu {
  border: medium none;
  min-width: 122px;
  padding: 0;
}
.popup-head-right .btn-group .dropdown-menu li a {
  font-size: 12px;
  padding: 3px 10px;
  color: #303030;
}

.popup-messages abbr.timestamp {
  background: #a1a1a1 none repeat scroll 0 0;
  color: #fff;
  padding: 0 11px;
}
.popup-messages .chat-box-single-line {
  border-bottom: 1px solid #bec0bf;
  height: 12px;
  margin: 7px 0 20px;
  position: relative;
  text-align: center;
}
.popup-messages .direct-chat-messages {
  height: auto;
}
.popup-messages .direct-chat-text {
  background: #dfece7 none repeat scroll 0 0;
  border: 1px solid #dfece7;
  border-radius: 2px;
  color: #1f2121;
}

.popup-messages .direct-chat-timestamp {
  color: #9e9e9e;
  opacity: 0.6;
}

.popup-messages .direct-chat-name {
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 0 49px !important;
  color: #1f59cc;
  opacity: 0.9;
}
.popup-messages .direct-chat-info {
  display: block;
  font-size: 12px;
  margin-bottom: 0;
}
.popup-messages .big-round {
  margin: -9px 0 0 !important;
}
.popup-messages .direct-chat-img {
  border: 1px solid #fff;
  background: #3f9684 none repeat scroll 0 0;
  border-radius: 50%;
  float: left;
  height: 40px;
  margin: -4px 0 0;
  width: 40px;
}
.direct-chat-reply-name {
  color: #2f6dff;
  font-size: 15px;
  margin: 0 0 0 10px;
  opacity: 0.9;
}
.dot {
  height: 7px;
  width: 7px;
  background-color: #0eff0e;
  border-radius: 50%;
  display: inline-block;
}
.direct-chat-img-reply-small {
  border: 1px solid #3b3e46;
  border-radius: 50%;
  float: left;
  height: 20px;
  margin: 0 8px;
  width: 20px;
  background: #1f59cc;
}

.popup-messages .direct-chat-msg {
  margin-bottom: 10px;
  position: relative;
}

.popup-messages .doted-border::after {
  background: transparent none repeat scroll 0 0 !important;
  border-right: 2px dotted #fff !important;
  bottom: 0;
  content: "";
  left: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 2px;
  display: inline;
  z-index: -2;
}

.popup-messages .direct-chat-msg::after {
  background: #fff none repeat scroll 0 0;
  border-right: medium none;
  bottom: 0;
  content: "";
  left: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 2px;
  display: inline;
  z-index: -2;
}
.direct-chat-text::after,
.direct-chat-text::before {
  border-color: transparent #dfece7 transparent transparent;
}
.direct-chat-text::after,
.direct-chat-text::before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent #d2d6de transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: medium;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 100%;
  top: 15px;
  width: 0;
}
.direct-chat-text::after {
  border-width: 5px;
  margin-top: -5px;
}
.popup-messages .direct-chat-text {
  background: #8fabe57d none repeat scroll 0 0;
  border: 1px solid #8fabe57d;
  border-radius: 2px;
  color: #1f2121;
}
.direct-chat-text {
  background: #d2d6de none repeat scroll 0 0;
  border: 1px solid #d2d6de;
  border-radius: 5px;
  color: #444;
  margin: 5px 0 0 50px;
  padding: 5px 10px;
  position: relative;
}
.cases-description span {
  text-align: center;
}

/* .M_t{
    margin-top: 150px
} */
.background-1 {
  background: url(../images/about/1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 12px;
  text-align: center;
  color: #ffff;
}
.background-2 {
  background: url(../images/about/2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 12px;
  text-align: center;
  color: #ffff;
}
.background-3 {
  background: url(../images/about/4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 12px;
  text-align: center;
  color: #ffff;
}
.background-4 {
  background: url(../images/about/3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 12px;
  text-align: center;
  color: #ffff;
}
.purple {
  color: purple;
}
.black {
  color: #000;
}
.orange {
  color: #ff7810;
}
.green {
  color: darkgreen;
}
.trekwaz {
  color: #1ca8ae;
}
.margin__bottom {
  margin-bottom: 35px !important;
}
.border-img {
  border: 1px solid red;
  padding: 8px;
  padding-bottom: 25px;
}
/* .margin_top {
  margin-top: -19px;
} */
/*  */
#owl-demo .item img {
  /* display: block; */
  width: 60%;
  /* height: auto; */
  margin: auto;
  margin-top: 41px;
}
#owl-demo {
  background-image: url("../images/web-view.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 25px;
}
#owl-demo .text_slide_2 {
  position: absolute;
  top: 20%;
  right: 21%;
  background: rgba(0, 0, 0, 0.6);
  padding: 16px;
  padding-right: 2em;
  padding-left: 2em;
}
.order-btn {
  margin-top: 5%;
}
#owl-demo .text_slide_2 h4 {
  font-size: 17px;
  color: #ffff;
}
#owl-demo2 {
  background-image: url("../images/mob/b-1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 25px;
}
#owl-demo3 .item img {
  display: inline-flex;
  margin-top: 25%;
  width: 81%;
  overflow: hidden;
  margin-left: 15px;
}
#owl-demo3 .text_slide {
  position: absolute;
  left: 35%;
  top: 27%;
  width: 50%;
  text-align: right;
}

#owl-demo3 .text_slide h4 {
  color: #f67a69;
}
#owl-demo2 .item img {
  display: block;
  width: 27%;
  /* height: auto; */
  margin: auto;
  margin-top: 45px;
}
#owl-demo.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: -250px;
  right: 21px;
  background: url(../images/pattern/a-1.png);
  background-repeat: no-repeat;
  height: 54px;
}
#owl-demo.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: -250px;
  left: 120px;
  background: url(../images/pattern/a-2.png);
  background-repeat: no-repeat;
  height: 54px;
}
.bg-blue i {
  color: #dbdb25;
}
/* media  - laptop 1024*/

@media (max-width: 1440px) and (min-width: 375px) {
  .our_work {
    text-align: center !important;
  }

  #owl-demo3 .item img {
    display: inline-flex;
    margin-top: 6%;
    width: 72%;
    overflow: hidden;
    margin-left: 3px;
  }
  .text-Area{
    top: 98px !important;
    width: 61% !important;
    right: 0 !important
  }

}
/*  */
.timeline {
  line-height: 1.5em;
  font-size: 14px;
  transition: all 0.4s ease;
  position: relative;
  counter-reset: section;
}
.timeline:before {
  content: "";
  width: 10px;
  height: 100%;
  background: #d4d4d4;
  position: absolute;
  top: 0;
  left: -3.313em;
  border-radius: 40px 40px;
}

.timeline--entry {
  position: relative;
}

.timeline--entry__detail {
  /* background-color: #dddddd; */
  padding: 1em;
  margin: 0;
}
.arab_img {
  position: absolute;
  left: -34%;
  height: 94%;
}
.text-Area{
  position: absolute;
  top: 30%;
  z-index: 1;
  right:-20%;
  text-align: right;
  /* width: 126px; */
  width: 50%;
  background:url(../images/pattern/textArea.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1.5em;
}
@media (max-width: 991px) and (min-width: 300px) {
  .arab_img {
    display: none;
  }
  
}

@supports (display: grid) {
  @media (min-width: 768px) {
    .timeline {
      display: grid;
      grid-gap: 1.75em;
      grid-template-areas: ".  entry1" "entry2  ." ". entry3" "entry4 ." ". entry5";
    }
    .timeline:before {
      left: 49.5%;
    }

    .timeline--entry:nth-child(1) {
      grid-area: entry1;
    }
    .timeline--entry:nth-child(2) {
      grid-area: entry2;
    }
    .timeline--entry:nth-child(3) {
      grid-area: entry3;
    }
    .timeline--entry:nth-child(4) {
      grid-area: entry4;
    }
    .timeline--entry:nth-child(5) {
      grid-area: entry5;
    }
    .timeline--entry:nth-of-type(odd):before {
      left: -3.8em;
    }
    .timeline--entry:nth-of-type(even):not(:nth-of-type(odd)) .timeline--entry__title:before {
      left: 100%;
      border-left: 10px solid #ec407a;
      border-right: 0;
    }
    .timeline--entry:nth-of-type(even):before {
      left: 103%;
    }
  }
}
